<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN - SISTEMA DE COMPRAS ONLINE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="https://image.freepik.com/free-vector/isometric-laptop-with-shopping-cart-keypad_1262-16544.jpg" width="400" height="400" class="center" alt="">
    <firebase-ui></firebase-ui>
    <!-- <h1 *ngIf="afAuth.auth.currentUser">Bem Vindo {{afAuth.auth.currentUser.displayName}}</h1> -->
    <!-- <ion-button  *ngIf="afAuth.auth.currentUser" (click)="signOut()">Sign Out</ion-button> -->
  
</ion-content>
